body { background: #fb5b3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 51px; display: flex; }
.block-helper-0 { color: #1ee5a4; font-size: 17px; margin-bottom: 5px; }
.block-router-1 { color: #c4b524; font-size: 21px; margin-bottom: 5px; }
.block-user-2 { color: #6239c8; font-size: 14px; margin-bottom: 5px; }
.block-user-3 { color: #e0aa82; font-size: 20px; margin-bottom: 5px; }
.block-cart-4 { color: #62a026; font-size: 17px; margin-bottom: 5px; }
.block-user-5 { color: #8db81d; font-size: 13px; margin-bottom: 5px; }
.block-session-6 { color: #8df331; font-size: 15px; margin-bottom: 5px; }